.AppItems {
    padding: 10px;
    font-size: medium;
}

div .AppItems a {
    /* text-align: center;
    vertical-align: middle;
    display: inline-block;
    align-items:center;Vertical align */
    padding: 5px;
    width: 80%;
    height: 30px;
    background:#141e55;
    border: 1px solid #141e55;
    color: white;
}
 
div .AppItems a:hover {
    background:white;
    color: #141e55;
    text-decoration: none;
  }

div .AppItems a:active {
  text-decoration: none;
    background:white;
    color: #141e55;
}

div .AppItems a:link {
  text-decoration: none;
}

div .AppItems a:visited {
  text-decoration: none;
}
