.Close-button {
    /* float: right;
    margin-left: 19px;
    margin-top: -10px; */


    /* overflow: hidden; */
    position: fixed;
    right: 19px;
}

.Help-content {
    clear: both;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    font-size: medium;
}

.Help-content p {
    text-align: left;
}

.Help-content img {
    width: 70%;
    box-shadow: 0px 30px 20px -25px #222;
}
